.content-container:hover {
  opacity: 1 !important;
}

/* В App.css */
.background-rect {
  will-change: transform, opacity;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

/* Улучшение производительности */
* {
  box-sizing: border-box;
}

body {
  transform-style: preserve-3d;
}

body {
  overflow: auto !important;
}

/* Только для HomePage блокируем скролл */
body:has(.mondrian-scroll-container) {
  overflow: hidden !important;
}